* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
	position: absolute;
	top: 200px;
	left: 140px;
}

.username {
	border-radius: 15px;
	width: 10rem;
	padding: .4rem;
	transition: all 0.5s;
}

.username:focus {
	width: 15rem;
}